/* Hero */
#hero-section {
    display: flex;
    margin-top: -160px;
    padding-right:25px;
}

/* Intro */

#intro-section {
    width: 400px;
    margin-left:100px;
    padding: 25px;
}

#intro-section h2 {
    color:#FD6E0A;
}

#intro-section h1 {
    color: #15295F;
}

/* Slider */

.slider {
    width: 60%;
}

.carousel-caption {
    color: #FD6E0A !important;
}

@media screen and (max-width:769px){
    #hero-section {
        display:block;
        padding: 20;
    }
    .slider {
        width: 100%;
    } 

}