/* Colors: 
 Primary - #FD6E0A (orange)
 Dark - #15295F (dark blue)

*/
* {
    font-family: 'Playfair Display', serif;
}

.top-page {
    width: 100%;
    margin:auto;
}

footer {
    text-align: center;
    padding: 25px;
    border-top: solid 0.25px #eee;
    color: #333;
}


@media screen and (max-width:769px){
    .top-page {
        width: 100%;
    }
}

 