body{
  font-family: 'Playfair Display', serif;
}

/* Colors: 
 Primary - #FD6E0A (orange)
 Dark - #15295F (dark blue)

/* App.js */

 /******* Projects Layout *******/
 .flex-position {
  display: flex;
 }

 .flex-col {
  display: flex;
  flex-direction: column;
 }


 /* Projects.js */
 .projects {
  height: 500px;
  width: 500px;
  background-color: #15295F;
  margin: 20px;
  border-radius: 2%;
 }
 